/*! == VARIABLES == */

$brand-primary: hsl(323, 43%, 16%);
$brand-secondary: hsl(37, 100%, 55%);
$brand-tertiary: hsl(90, 14%, 89%);
$body-color: hsl(334, 10%, 42%);
$heading-font: 'continuo', sans-serif;
$body-font: 'priori-sans', sans-serif;
$special-font: '', sans-serif;
$mid-grey: hsl(0, 0%, 50%);
$light-grey: hsl(0, 0%, 79%);
$fastEffect: all .5s ease;
$slowEffect: all 1s ease;

$largeMargin:5em;
